# Topic: Basic of python

## To run cell: Shift+Enter

In [ ]:
print("Hello World!")

Hello World!

In [10]:
print(1+2)

3

In [19]:
number1 = 5
number2 = 6
print(number1 + number2)

11

In [20]:
# type is used to print type of variable
type(number1)

int

In [21]:
first_name = "Rakesh"
last_name = "kumar"
type(first_name)

str

In [22]:
# typecasting
float(number1)

5.0

In [23]:
str(number2)

'6'

In [24]:
float(first_name)

ValueError: could not convert string to float: 'Rakesh'

In [26]:
# taking input
name = input("Enter your name")
print(name)

Rakesh Kumar

In [27]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 11.5
Difference: -1.0999999999999996
Product: 32.76
Quotient: 0.8253968253968255